<!doctype html>
<meta charset="UTF-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<title>Console</title>
<script type="text/javascript" src="{{ url_for('static',filename='jQuery/jquery.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static',filename='bootstrap/js/bootstrap.js') }}"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.css') }}">
<body>
{% block body %}{% endblock %}
</body>